//color
$black: #000;
$white: #fff;
$text: #333;
$bg: #F7F4F2;
$black-22: #222;
$black-33: #333;
$black-70: #707070;
$gray-d7: #D7D1CB;
$gray-84: #847B73;
$pink-ec: #EC6D81;
$pink-dc: #DC5B88;
$shadow: #847B73;

//font-family
$yugo: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
$zen-kaku: 'Zen Kaku Gothic New', sans-serif;
$bakervville: 'baskerville-display-pt', serif;
$alt-gothic: 'alternate-gothic-condensed-a', sans-serif;
$noto: 'Noto Sans', sans-serif;
$object-fit: 'object-fit: cover; object-position: center;';
$shin-maru: 'a-otf-ud-shin-maru-go-pr6n, sans-serif';

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
