extends includes/layout.pug
block content
 .lp
    .lp__container
      .lp__block 
        img(src="/img/mv.png", alt="", srcset="")
        .lp__block-wrap
          .lp__wrap-title-box
            h2.lp__wrap-title キャンペーン概要
          p.lp__wrap-desc らくのうコーヒーは今年で発売45周年をむかえました。日頃のご愛飲に感謝し、ご応募いただいた方の中から抽選で合計450名様に豪華賞品をプレゼントいたします。
        .lp__logo
      .lp__block.lp__block--pad100
        .lp__block-title-box
          h2.lp__block-title プレゼント <br>
           span.lp__block-title--sml present
        .lp__block-box
          .lp__box-title-wrap
            h2.lp__box-title コースを選んでポイントで応募！​
          .lp__box-wrap
            h3.lp__wrap-head-txt 1ポイントコース​
            .lp__wrap-quo-box
              h2.lp__wrap-quo QUOカードPay​
              h2.lp__wrap-quo-num 1000 <span> 円分
          .lp__img-wrap 
            img(src="/img/img1.png", alt="", srcset="")
            .lp__img-wrap-logo
              h2.lp__img-txt 300 <br>
                <span> 名様
          .lp__box-wrap
            h3.lp__wrap-head-txt 5ポイントコース​
            .lp__wrap-quo-box
              h2.lp__wrap-quo Toffy電子ケトル​
          .lp__img-wrap 
            img(src="/img/img2.png", alt="", srcset="")
            .lp__img-wrap-logo
              h2.lp__img-txt 50 <br>
                <span> 名様
          a.lp__button.lp__button--mt90(href="") はがきで応募方法はこちら​
          a.lp__button.lp__button--mb0(href="") WEBから応募方法はこちら​
        .lp__block-box
          .lp__box-title-wrap
            h2.lp__box-title クイズに答えて応募！​
          .lp__box-wrap
            .lp__wrap-quo-box
              h2.lp__wrap-quo 商品詰め合わせ​
          .lp__img-wrap 
            img(src="/img/img3.png", alt="", srcset="")
            .lp__img-wrap-logo
              h2.lp__img-txt 100 <br>
                <span> 名様
            .lp__img-desc-wrap 
              p.lp__img-desc らくのうコーヒー200ml×4本
              p.lp__img-desc LL大阿蘇牛乳200ml×2本
              p.lp__img-desc LLカフェオレ200ml×2本
          a.lp__button.lp__button--mb0(href="") 応募方法はこちら​
        .lp__block-box.lp__block-box--bg-pink.lp__block-box--center
          h2.lp__insta-title Instagram 
            span.lp__insta-title.lp__insta-title--f40 でも
            |10
            span.lp__insta-title.lp__insta-title--f50 名様
            span.lp__insta-title.lp__insta-title--f40 に <br>
            span.lp__insta-title.lp__insta-title--f50 商品詰め合わせが当たる！
          .lp__desc-wrap 
            p.lp__img-desc らくのうコーヒー200ml×4本
            p.lp__img-desc LL大阿蘇牛乳200ml×2本
            p.lp__img-desc LLカフェオレ200ml×2本
          a.lp__button.lp__button--mb0(href="") 応募方法はこちら​
        .lp__block.lp__block--mt100
          .lp__block-title-box
            h2.lp__block-title.lp__block-title--center 応募期間 <br>
          .lp__block-border 
            h3.lp__block-date 2023年 <br>

            h2.lp__block-desc-txt 4 <span>/</span>1
              span.lp__block-desc-txt.lp__block-desc-txt--f58 (土)
              |5 <span>/</span> 31
              span.lp__block-desc-txt.lp__block-desc-txt--f58 (水)
              span.lp__block-desc-txt.lp__block-desc-txt--f54 迄
            p.lp__block-desc-note ※はがき郵送は5月31日消印有効​
      .lp__block-wrap.lp__block-wrap--pad60
        .lp__block-title-box.lp__block-title-box--white
          h2.lp__block-title.lp__block-title--white 対象商品 <br>
           span 獲得ポイント​​
        .lp__row-block
          img.lp__row-img(src="img/img4.png", alt="")
          .lp__row-desc-wrap
            h3.lp__row-title らくのうコーヒー200ml​
            h3.lp__row-points 獲得ポイント
              span.lp__points-no 1
              span ポイント
        .lp__row-block.lp__row-block--mt158
          img.lp__row-img.lp__row-img--l-98(src="img/img5.png", alt="")
          .lp__row-desc-wrap
            h3.lp__row-title らくのうコーヒー200ml​
            h3.lp__row-points 獲得ポイント
              span.lp__points-no 1
              span ポイント
        .lp__row-block.lp__row-block--mt217
          img.lp__row-img.lp__row-img--l-144(src="img/img6.png", alt="")
          .lp__row-desc-wrap
            h3.lp__row-title らくのうコーヒー200ml​
            h3.lp__row-points 獲得ポイント
              span.lp__points-no 1
              span ポイント
        .lp__logo.lp__logo--right
      .lp__block.lp__block--pad120
        .lp__block-title-box
          h2.lp__block-title.lp__block-title--center 応募方法​ <br>
        .lp__box-title はがきで応募
        .lp__block-box.lp__block-box--br0
          .lp__wrap-desc.lp__wrap-desc--pad0 応募期間中にらくのうマザーズの​対象商品を購入し、郵便はがきに​ご希望のコースに必要なポイント分の​購入商品のバーコードを貼り付けて、​必要事項をご記入のうえ、​投函してご応募ください。​
          .lp__wrap-desc-note ※はがきは2023年5月31日(水)消印有効です。
          .lp__box-wrap.lp__box-wrap--w100
            h2.lp__wrap-title-white バーコードの貼り付け方法
          .lp__box-wrap-white
            img.lp__img.lp__img--pad5(src="img/img7.png", alt="")
            .lp__white-box-wrap.lp__white-box-wrap--mt40
              span.lp__box-wrap-no.lp__box-wrap-no--mt10 1
              span.lp__box-txt 応募に必要なポイント分の<br>バーコードを​ご用意ください。​
            .lp__white-box-cont.lp__white-box-cont--mt72
              img.lp__img(src="img/img8.png", alt="")
              .lp__white-box-wrap.lp__white-box-wrap--col
                span.lp__box-wrap-no.lp__box-wrap-no--ml30-mb20 2
                span.lp__box-txt.lp__box-txt--ml30 セロハンテープなどで、両端をしっかりと貼り付けてください。
        .lp__block-table
          .lp__block-row
            h3.lp__row-label 送り先
            .lp__row-desc-wrap.lp__row-desc-wrap--mar0
              h4.lp__row-desc
                |〒861-8041​ <br>
                |熊本県熊本市東区戸島5-10-15​ <br>
                |らくのうマザーズ​ <br>
                |らくのうコーヒー45周年キャンペーン係​ <br>
          .lp__block-row
            h3.lp__row-label 必要事項
            .lp__row-desc-wrap.lp__row-desc-wrap--mar0
              h4.lp__row-desc.lp__row-desc--pb0 以下の内容をご明記ください。​
              ul.lp__row-desc
                li.lp__row-desc-list 郵便番号​
                li.lp__row-desc-list ご住所​
                li.lp__row-desc-list お名前（フリガナ）
                li.lp__row-desc-list お電話番号​
                li.lp__row-desc-list 年齢​
                li.lp__row-desc-list 性別​
                li.lp__row-desc-list 希望コース
        .lp__box-title WEBから応募
        .lp__block-box.lp__block-box--br0
          .lp__wrap-desc.lp__wrap-desc--mb130 応募期間中にらくのうマザーズの​対象商品を購入し、​ご希望のコースに必要なポイント分の​レシートを撮影して​キャンペーン特設サイトからご応募​いただくと、抽選で豪華賞品が当たります。​
        .lp__desc-box-wrap
          h2.lp__wrap-title-white 購入商品レシート撮影方法​
          p.lp__wrap-box-desc 1つの写真に1枚のレシートを写す構図で​購入した対象商品のレシート明細が​わかるように撮影してください。​
        .lp__desc-box-wrap.lp__desc-box-wrap--bb-radius.lp__desc-box-wrap--pb40
          h2.lp__wrap-title-white 応募方法
          p.lp__wrap-box-desc 以下のボタンから応募フォームに​必要項目入力後、下部の「①ファイルを選択」より​撮影した画像をアップロードし、​「②送信」ボタンを押してください。​
          a.lp__button.lp__button--mt130(href="") 応募フォームはこちら
        .lp__box-title クイズに答えて応募！​
        .lp__block-box.lp__block-box--br0
          .lp__wrap-desc.lp__wrap-desc--mb130 以下のボタンから応募フォームに​必要項目入力後、​クイズの答えを入力し、応募完了！​
        .lp__desc-box-wrap
          h2.lp__wrap-title-white 問題
          p.lp__wrap-box-desc 以下の〇に入る数字はなんでしょう？​
          img.lp__img(src="img/img9.png", alt="")
          p.lp__wrap-box-desc 　ヒント <br>このサイトのトップ画像をチェック！​
          a.lp__button.lp__button--mb0(href="") 応募フォームはこちら
        .lp__box-title Instagramで応募！​
        .lp__block-box.lp__block-box--br-bottom
          .lp__wrap-desc.lp__wrap-desc--mb130 らくのうマザーズ公式Instagramアカウントをフォローした上で、「らくのうコーヒー45周年キャンペーン」の投稿にいいね！をしてください。これで応募完了です。​
          a.lp__button.lp__button--mt130(href="") 応募フォームはこち
      .lp__block.lp__block--pb47
        .lp__block-title-box
          h2.lp__block-title.lp__block-title--center 応募方法​ <br>
        .lp__block-para-cont
          p.lp__wrap-box-para 熊本県酪農業協同組合連合会（以下、「当会」といいます。）が実施する「らくのうコーヒー45周年キャンペーン～合計450名様にプレゼント～」（以下、「本キャンペーン」といいます。）へご応募いただく際には、本キャンペーン利用規約（以下、「本規約」といいます。）をよくお読みいただき、同意いただいたうえでご応募ください。本キャンペーンにご応募いただいた場合は、本規約に同意いただいたものとみなします。
          ol.lp__terms-ol-wrap 
            li.lp__term-list-item 利用規約について
              ul.lp__term-list-ol
                li.lp__term-sub-list 当会は、本規約をお客様の承諾を得ることなく変更することがあります。 
                li.lp__term-sub-list  本規約の変更は、変更後の本規約が当サイトに掲載された時点で効力を生じるものとします。 <br> お客様が本キャンペーンにご応募する場合は、常に掲
                li.lp__term-sub-list  載中の本規約に同意いただいたものとみなします。<br> 本規約は、当会または第三者に属する著作物の利用に関する何等の許諾を行うものではありません。 
                li.lp__term-sub-list  
            li.lp__term-list-item 応募環境について
              ul.lp__term-list-ol
                li.lp__term-sub-list 本キャンペーンは日本国内に在住し、宅配での賞品のお受け取りが可能な方がご応募いただけます。<br> 本キャンペーンのご応募は、郵便はがき、通信可能な
                li.lp__term-sub-list スマートフォン、インターネットに接続できるパソコンから行えます（一部のスマートフォン、一部のブラウザは除く）。 <br> <span> WEBからのご応募の場合は、原則スマートフォンまたは
                li.lp__term-sub-list パソコンからのご応募をお願いいたします。 <br> 当会からお客様に対し登録料・情報料等をご請求することはありませんが、ご応募時に発生する接続料や
                li.lp__term-sub-list 通信料はお客様のご負担となります。また、一部の機種・環境ではご応募いただけない場合がございます。<br> 本キャンペーンの対象商品と獲得できるポイントは以下の通りです。 
                li.lp__term-sub-list -らくのうコーヒー200ml：1ポイント <br>
                  span -らくのうコーヒー500ml：2ポイント <br>
                  span -らくのうコーヒー1000ml：3ポイント <br>
                  span 獲得したポイントを利用して応募できるコースは以下の通りです。 
                li.lp__term-sub-list 　-1ポイントコース： <br>
                  span QuoカードPay 1000円分 × 300名 <br>
                  span -5ポイントコース： <br>
                  span Toffy電子ケトル × 50名 
              
            li.lp__term-list-item 応募方法について
              h3.lp__item-head-desc 【はがきでの応募方法】 
              ul.lp__term-list-ol
                li.lp__term-sub-list お買い上げいただいた対象商品のバーコードを切り取り、ご希望のコースに必要な枚数を郵便はがきに貼り、お客様の郵便番号、ご住所、お名前（フリガナ）、お電話番号、年齢、性別、希望コースを明記の上、郵送でご応募ください。 <br> ご応募の際は必要料金分の切手を必ずお貼りください。  
                li.lp__term-sub-list お一人様何口でもご応募いただけますが、応募はがき1通につき、1口のご応募とさせていただきます。<br> 1通のはがきで複数のコースへのお申込みは出来ません。複数の 
                li.lp__term-sub-list コースに応募いただく場合はそれぞれのコースごとに応募はがきをご用意ください。 
                li.lp__term-sub-list ※バーコードはセロハンテープなどで、<br>　両端をしっかりと貼り付けてください。
              h3.lp__item-head-desc  【WEBでの応募方法】  
              ul.lp__term-list-ol
                li.lp__term-sub-list 応募期間中に対象商品を購入の上、レシートを撮影してキャンペーン特設サイトからご応募ください。 
                li.lp__term-sub-list レシートは対象商品名がわかるように撮影してください。 
                li.lp__term-sub-list お一人様何口でもご応募いただけますが、1回の入力につき1口のご応募とさせていただきます。 
                li.lp__term-sub-list 1回の入力で複数のコースへのお申込みは出来ません。複数のコースに応募いただく場合はそれぞれのコースごとにレシート画像、必要情報を入力ください。 
                li.lp__term-sub-list 応募の際はお客様の郵便番号、ご住所、お名前（フリガナ）、お電話番号、年齢、性別、希望コースの入力が必要となります。
              h3.lp__item-head-desc  【WEBでの応募方法】 
              ul.lp__term-list-ol
                li.lp__term-sub-list らくのうマザーズ公式アカウントのフォロー、及び「らくのうコーヒー45周年キャンペーン」の投稿にいいねをしていただき、応募完了となります。 
            li.lp__term-list-item 応募について
              ul.lp__term-list-ol
                li.lp__term-sub-list 「はがきで応募」、「WEBで応募」両方にご参加いただくことが可能です。 
                li.lp__term-sub-list ご応募は日本国内在住の方に限らせていただきます。 
                li.lp__term-sub-list  必要事項のご記入がない場合は無効となります。
                li.lp__term-sub-list 対象​​商品や​​お買い上げ日​​が確認できない場合は無効となります。​ 
                li.lp__term-sub-list レシートは、有効期間中に発行されたものに限ります。​ <br>「はがきで応募」「WEBで応募」ともに1口の応募では1つのコースにのみ応募可能です。
                li.lp__term-sub-list １ポイントコースは１ポイント以上で応募可能です。 <br>※２ポイント、３ポイントの商品を購入したレシートでも１ポイントコースに応募可能ですが、１口のみ応募可能。（２ポイント、３ポイントの商品で１ポイントコースに2口・3口の応募は不可となります。） <br> ネットスーパーや共同購入などでお買い上げの場合は、お買い上げ日、対象商品が記載されている領収書や納品書などをレシートの代わりとして添付いただくことでご応募いただけます。​ 
                li.lp__term-sub-list クレジットカードでのお買い上げの場合は、レシート下部の情報を切り取り、お買い上げ情報が記載された上部のみ貼付・添付してください。​ <br>ご応募いただいたはがきの返却はいたしませんので、あらかじめご了承ください。 
                li.lp__term-sub-list 応募はがきの郵送中の紛失・破損につきましては責任を負いかねますので、あらかじめご了承ください。 <br> 対象商品を撮影したレシート画像の差し替え、再送信はできません。 
                li.lp__term-sub-list レシート画像は事務局にて確認し、他の商品画像での応募や同一画像での複数応募、本人以外の第三
                li.lp__term-sub-list 者が撮影・作成した画像を無断で使用した応募など、事務局がキャンペーンにそぐわないと判断したご応募は無効とさせていただくことがあります。 
                li.lp__term-sub-list 本キャンペーンにおいて応募いただいた画像の著作権（著作権法第27条及び第28条の権利を含む）、そ
                li.lp__term-sub-list の他の権利は、ご応募と同時になんらかの方式を要することなく当会に移転するものとさせていただきます。 <br> 応募者は、被写体として写真に写っている方々、撮影場所等被写体に対して、応募画像や記載情報を、ウェブサイト、印刷物、その他の媒体に使用することにつき、承諾を得たうえで投稿してください。 
                li.lp__term-sub-list ご当選回数は勝手ながら1回とさせていただきます。 <br>本キャンペーンに関わる関係各社の従業員および関係者のご応募はできません。 
                li.lp__term-sub-list 本キャンペーンの対象商品のバーコードや賞品等を、インターネットオークションなどで販売なさらないようにお願いいたします。 
            li.lp__term-list-item 抽選・当選発表・賞品について
              ul.lp__term-list-ol
                li.lp__term-sub-list 厳正な抽選の上、当選者を決定し、賞品の発送をもって発表にかえさせていただきます。 <br>ダブルチャンス(インスタグラム)の当選者についてはキャンペーン終了後、InstagramのDMにて、公式アカウントからご連絡いたします。 
                li.lp__term-sub-list 賞品お届け時期は​ ​​ ​​ ​2023年7月上旬頃を予定しておりますが、諸事情により発送が遅れる場合がございます。 
                li.lp__term-sub-list 賞品のお届けは日本国内に限らせていただきます。 <br> 当選された方のご住所・お電話番号が不明等の理由により賞品がお送りできない、またはご連絡が取れない場合は当選を無効とさせていただく場合がございます。 
                li.lp__term-sub-list 当選についてのお問い合わせにはお答えできませんので、あらかじめご了承ください。
                li.lp__term-sub-list 当選権利の譲渡・換金・換品等はできません。
                li.lp__term-sub-list 賞品の到着後の紛失・破損につきましては責任を負いかねますので、あらかじめご了承ください。 
                li.lp__term-sub-list 宅配便のご不在連絡票に対応されず賞品がキャンペーン事務局へ返却された場合、再発送できません。 
                li.lp__term-sub-list 本キャンペーンはやむを得ない事情により中止、または賞品内容が変更となる場合がございますので、あらかじめご了承ください。 
              h3.lp__item-head-desc  【QUOカードPayの注意事項】
              ul.lp__term-list-ol
                li.lp__term-sub-list 「QUOカードPay」には発行日より3年間の有効期限がございますのでご注意ください。 
                li.lp__term-sub-list 「QUOカードPay」は、スマートフォンの画面にバーコードを表示させて利用する前払式支払手段です。スマートフォン以外の携帯電話およびタブレットではご利用できません。 
                li.lp__term-sub-list お送りしたバリューコードのURLを紛失された場合、バリューコードのURLを再発行することは出来ません。残高がゼロになるまで、ブックマークやメールの保存などバリューコードのURLにアクセス出来るようにしてください。
                li.lp__term-sub-list アプリにバリューコードを保存した場合は、バリューコードのURLは不要になります。詳しくはQUOカードPay公式サイトをご確認ください。 
                li.lp__term-sub-list 「QUOカードPay」は、カードタイプのQUOカードとは異なるサービスです。カードタイプのQUOカード加盟店ではご利用できない場合があるほか、カードタイプのQUOカードの残高を移行、チャージすることはできません。 
                li.lp__term-sub-list 本キャンペーンは熊本県酪農業協同組合連合会 により実施されています。本キャンペーンについてのお問い合わせは株式会社クオカードではお受け出来ません。
                li.lp__term-sub-list 「QUOカードPay」もしくは「クオ・カードペイ」およびそれらのロゴは株式会社クオカードの登録商標です。 
            li.lp__term-list-item 個人情報について
              ul.lp__term-list-ol 
                li.lp__term-sub-list ご応募に際し、お客様よりお預かりした個人情報は、賞品の発送、本キャンペーンに伴う連絡、マーケティングの目的で使用させていただきます。 
                li.lp__term-sub-list 15歳以下のお客様の個人情報は、必ず保護者様の同意のもとにご提供いただきますようお願いいたします。 
                li.lp__term-sub-list お客様の個人情報をお客様の同意なしに業務委託先以外の第三者に開示・掲示することはありません。
                li.lp__term-sub-list （法令等により開示を求められた場合を除く） <br> お客様の個人情報は、協力会社に業務を委託し適切に保護し、個人情報をお預かりする際にお知らせした利用目的の合理的な範囲を超えて利用いたしません。 
            li.lp__term-list-item 利用の制限について
              ul.lp__term-list-ol 
                li.lp__term-sub-list お客様が以下の行為を行ったと認められる場合、当会は当該お客様の利用の制限・当選権利の削除等の措置をとることができるものとし、当会に損害が生じた場合は、当該お客様に対して損害賠償を請求できるものとします。
                li.lp__term-sub-list 利用の際に虚偽の内容や第三者の情報を不正に申請した場合。 
                li.lp__term-sub-list 本キャンペーンを利用した営業行為、営利目的行為を行った場合。 
                li.lp__term-sub-list 公序良俗に反する行為、法令・条例に違反する行為、犯罪的行為に結びつく行為を行った場合。
                li.lp__term-sub-list 当会もしくは第三者の知的財産権・財産を侵害する行為を行った場合。
                li.lp__term-sub-list 当会ソフトウェア･ハードウェア･通信機器等の機能を妨害、破壊、制限する等運営妨害を行った場合。 <br> その他、当会もしくは第三者に不利益もしくは損害を与える行為を行う等、利用者として不適切であると当会が判断した場合。 
            li.lp__term-list-item サービスの変更･中断・中止･終了について 
              ul.lp__term-list-ol 
                li.lp__term-sub-list 当会は、本キャンペーンにおけるサービスの一部または全てを事前に通知することなく変更･中断・中止･終了することができます。なお、これにより生じた損害については、一切責任を負いません。 
            li.lp__term-list-item 免責事項
              ul.lp__term-list-ol 
                li.lp__term-sub-list 本キャンペーンは、細心の注意を払い情報を掲載しておりますが、提供情報、プログラム、その他本キャンペーンに関する全ての事項について、その完全性、正確性、安全性、有用性等について、いかなる保証もするものではありません。また、お客様または第三者が被った以下の事例により発生した損害については、当会は責任を負いません。 
                li.lp__term-sub-list 本キャンペーンへのご応募に際して、ソフトウェア･ハードウェア上の事故、火災、停電、通信環境の悪化、地震、事変等の非常事態が発生した場合。 
                li.lp__term-sub-list 本キャンペーンにおけるシステムの保守を定期的あるいは緊急に行う場合。
                li.lp__term-sub-list お客様間またはお客様と第三者の間におけるトラブル等が生じた場合。 
                li.lp__term-sub-list 第三者によるサービスの妨害、情報改変等によりサービスが中断、遅延した場合。 
                li.lp__term-sub-list 推奨環境以外からご応募したために情報を完全に取得できない場合。 
                li.lp__term-sub-list 故意または重過失によらない事由により、提供する情報が誤送信されるか、欠陥があった場合。 
            li.lp__term-list-item
              h3.lp__item-head-desc  本キャンペーンに対するお問い合わせは、下記より承ります。 <br>
              span.lp__item-list-desc らくのうコーヒー45周年キャンペーン事務局  <br>
              span.lp__item-list-desc お問い合わせ ：096-388-0101  <br>
              span.lp__item-list-desc 受付時間：9：00～16：00  <br>
              span.lp__item-list-desc 土・日・祝日を除く <br><br>
              span.lp__item-list-desc 【熊本県酪農業協同組合連合会】 
              
block script
  script(src="js/lower/index.ts")