extends includes/layout.pug
block content
  .lp
    .lp__container
      .lp__block 
        img(src="/img/mv.png", alt="", srcset="")
        .lp__block-wrap
          .lp__wrap-title-box
            h2.lp__wrap-title キャンペーン概要
          p.lp__wrap-desc らくのうコーヒーは今年で発売45周年をむかえました。日頃のご愛飲に感謝し、ご応募いただいた方の中から抽選で合計450名様に豪華賞品をプレゼントいたします。
        .lp__logo-left
      .lp__block.lp__block--pad100
        .lp__block-title-box
          h2.lp__block-title プレゼント <br>
           span.lp__block-title--sml present
        .lp__block-box
          .lp__box-title-wrap
            h2.lp__box-title コースを選んでポイントで応募！​
          .lp__box-wrap
            h3.lp__wrap-head-txt 1ポイントコース​
            .lp__wrap-quo-box
              h2.lp__wrap-quo QUOカードPay​
              h2.lp__wrap-quo-num 1000 <span> 円分
          .lp__img-wrap 
            img(src="/img/img1.png", alt="", srcset="")
            .lp__img-wrap-logo
              h2.lp__img-txt 300 <br>
                <span> 名様
          .lp__box-wrap
            h3.lp__wrap-head-txt 5ポイントコース​
            .lp__wrap-quo-box
              h2.lp__wrap-quo Toffy電子ケトル​
          .lp__img-wrap 
            img(src="/img/img2.png", alt="", srcset="")
            .lp__img-wrap-logo
              h2.lp__img-txt 50 <br>
                <span> 名様
          a.lp__button.lp__button--mt90(href="") はがきで応募方法はこちら​
          a.lp__button.lp__button--mb0(href="") WEBから応募方法はこちら​
        .lp__block-box
          .lp__box-title-wrap
            h2.lp__box-title クイズに答えて応募！​
          .lp__box-wrap
            .lp__wrap-quo-box
              h2.lp__wrap-quo 商品詰め合わせ​
          .lp__img-wrap 
            img(src="/img/img3.png", alt="", srcset="")
            .lp__img-wrap-logo
              h2.lp__img-txt 100 <br>
                <span> 名様
            .lp__img-desc-wrap 
              p.lp__img-desc らくのうコーヒー200ml×4本
              p.lp__img-desc LL大阿蘇牛乳200ml×2本
              p.lp__img-desc LLカフェオレ200ml×2本
          a.lp__button.lp__button--mb0(href="") 応募方法はこちら​
        .lp__block-box.lp__block-box--bg-pink.lp__block-box--center
          h2.lp__insta-title Instagram 
            span.lp__insta-title.lp__insta-title--f40 でも
            |10
            span.lp__insta-title.lp__insta-title--f50 名様
            span.lp__insta-title.lp__insta-title--f40 に <br>
            span.lp__insta-title.lp__insta-title--f50 商品詰め合わせが当たる！
          .lp__desc-wrap 
            p.lp__img-desc らくのうコーヒー200ml×4本
            p.lp__img-desc LL大阿蘇牛乳200ml×2本
            p.lp__img-desc LLカフェオレ200ml×2本
          a.lp__button.lp__button--mb0(href="") 応募方法はこちら​
        .lp__block.lp__block--mt100
          .lp__block-title-box
            h2.lp__block-title.lp__block-title--center プレゼント <br>
          .lp__block-border 
            h3.lp__block-date 2023年 <br>

            h2.lp__block-desc-txt 4 <span>/</span>1
              span.lp__block-desc-txt.lp__block-desc-txt--f58 (土)
              |5 <span>/</span> 31
              span.lp__block-desc-txt.lp__block-desc-txt--f58 (水)
              span.lp__block-desc-txt.lp__block-desc-txt--f54 迄
            p.lp__block-desc-note ※はがき郵送は5月31日消印有効​
      .lp__block-wrap
        .lp__block-title-box.lp__block-title-box--white
          h2.lp__block-title.lp__block-title--white 対象商品 <br>
           span 獲得ポイント​​
block script
  script(src="js/lower/index.ts")